DirectoryIndex index.php
Options -Indexes -MultiViews

<FilesMatch "^(config(?:\.local)?\.php|.*\.sqlite(?:-.*)?)$">
    Require all denied
</FilesMatch>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^admin(?:/.*)?$ admin/index.php [QSA,L]
RewriteRule ^ index.php [QSA,L]
